//- player-info.pug
include ../partials/header.pug
include ../partials/menu.pug

div.container
  br
  div.row
    div.col-4
      div.card
        //- TODO: Modify the pug code below to conditionally set the image_src
        - let image_src = '../../resources/img/helmet.jpg'

        img.card-img-top#player_img(src= image_src, alt="Football Player")
        div.card-body.mx-auto
          form.form(action="/player_info/select_player", method="get")
            select.custom-select(name="player_choice", onchange="this.form.submit()")
              option(selected) Select Player
                - if(data)
                  each row in data
                    option(value=row.id)= row.name
    div.col-8
      div.table-responsive
        table.table
          tr
            th Year
            td= year
          tr
            th Major
            td= major
          tr
            th Games Played
            td= count 
          tr
            td Passing Yards:
            td= passing_yards  / count 
          tr
            td Rushing Yards: 
            td= rushing_yards  / count
          tr 
            td Receiving Yards:
            td= receiving_yards  / count

include ../partials/footer.pug